// News content type.

.node--type-news {
  .view-mode-full {
    .field-name-field-news-image {
      float: left;
      margin-right: 10px;
    }

    .field-name-field-news-date {
      font-style: italic;
    }
  }
}

article.news-teaser {
  border-bottom: 1px solid #dddddd;
  padding-bottom: 1.5em;
  margin-top: 1.5em;

  &:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    font-size: 0;
    visibility: hidden;
  }

  h3 {
    margin-top: -0.25em;
  }

  div.field-name-body,
  div.field-type-image {
    margin-bottom: 0;

    p {
      margin-bottom: 0;

      &:after {
        content: "...";
        display: inline;
      }
    }
  }
}

.more-link {
  clear: both;
  margin: 2em 0;
  text-align: left;

  &:after {
    clear: both;
  }

  a {
    font-family: $sans;
    font-weight: 400;
    font-size: 0.944em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: #222222;
    padding: 0.75em 1.25em 0.85em 1.25em;
    border: 1px solid #dddddd;

    &:hover {
      background-color: #dddddd;
      text-decoration: none;
    }
  }
}
