// Non-modular or client styles for the .l-content region.

html {
  background-color: $blue-dk;
}

body {
  background-color: transparent; // Override foundation.
}

.off-canvas-content {
  background-color: $white;
  padding-bottom: 0.01px
}
