{#
/**
 * @file
 * Theme override for a field.
 * field--paragraph--field-yale-carousel-image--yale-carousel-image.html.twig
 *
 * @see template_preprocess_field()
 */
#}
{% set field_name_class = field_name|clean_class %}
{%
set classes = [
'field',
'field-' ~ entity_type|clean_class ~ '--' ~ field_name_class,
'field-name-' ~ field_name_class,
'field-type-' ~ field_type|clean_class,
'field-label-' ~ label_display,
label_display == 'inline' ? 'clearfix',
]
%}
{%
set title_classes = [
'field-label',
label_display == 'visually_hidden' ? 'visually-hidden',
]
%}
<div{{ attributes.addClass(classes) }}>

  {% if not label_hidden %}
    <span{{ title_attributes.addClass(title_classes) }}>{{ label }}</span>
  {% endif %}

  {% for item in items %}
    {{ item.content }}
  {% endfor %}
</div>
