{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - content_attributes: HTML attributes for the content.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 */
#}
{% set field_name_class = field_name|clean_class %}
{%
  set classes = [
    'orbit',
    'field',
    'field-' ~ entity_type|clean_class ~ '--' ~ field_name_class,
    'field-name-' ~ field_name_class,
    'field-type-' ~ field_type|clean_class,
    'field-label-' ~ label_display,
    label_display == 'inline' ? 'clearfix',
  ]
%}

<div{{ attributes.addClass(classes).setAttribute('role', 'region').setAttribute('aria-label', label) }} data-orbit data-auto-play="false">
  <ul class="orbit-container">
    {% for item in items %}
    {% if loop.first %}
      <li{{ item.attributes.addClass('is-active') }}>
    {% else %}
      <li{{ item.attributes }}>
    {% endif %}
      {{ item.content }}
    </li>
    {% endfor %}
  </ul>
  <button class="orbit-previous"><span class="show-for-sr">{{ 'Previous Slide'|t }}</span>&#9664;&#xFE0E;</button>
  <button class="orbit-next"><span class="show-for-sr">{{ 'Next Slide'|t }}</span>&#9654;&#xFE0E;</button>
  <nav class="orbit-bullets">
    {% for item in items %}
      {% if loop.first %}
        <button{{ item.title_attributes.addClass('is-active').setAttribute('data-slide', loop.index0) }}>
          <span class="show-for-sr">{{ item.title }}</span>
          <span class="show-for-sr">{{ 'Current Slide'|t }}</span>
        </button>
      {% else %}
        <button{{ item.title_attributes.setAttribute('data-slide', loop.index0) }}>
          <span class="show-for-sr">{{ item.title }}</span>
        </button>
      {% endif %}
    {% endfor %}
  </nav>
</div>
