// Variables
// -------------------------------------
// 1. Colors
// 2. Fonts : Descriptive : Functional
// 3. Other

// http://sachagreif.com/sass-color-variables/
// http://sachagreif.com/useful-sass-mixins/

// Color Functions, examples:
// background-color: darken( $base-color, 20% )
// background-color: lighten( $base-color, 20% )
// background-color: saturate( $base-color, 50% )
// background-color: desaturate( $base-color, 20% )
// background-color: adjust-hue( $base-color, 50% )
// background-color: rgba( $base-color, .5 )
// background-color: tint( $base-color, 50% )
// background-color: shade( $base-color, 50% )

// Descriptive Color Variables
// -------------------------------------
$blue-xdk:          #002852;
$blue-dk:           #00356b;
$blue-meddk:        #184274;
$blue-med:          #286dc0;
$blue-lt:           #63aaff;
$blue-xlt:          #96c6ff;

$carbon:            #222222;
$gray-dk:           #4a4a4a;
$gray-med:          #a3a3a3;
$gray-warm:         #978d85;
$gray-lt:           #dddddd;
$gray-xlt:          #eeeeee;
$gray-shade:        #f9f9f9;

$green:             #5f712d;
$orange:            #bd5319;

// Functional Color Variables
// -------------------------------------
$text:          $carbon;
$base:          $blue-dk;
$h-blue-med:    $blue-med;
$h-blue-dk:     $blue-dk;

$text-link:     $blue-med;
$text-link-hover: #000;
$gray-line:     $gray-lt;
$short-line: 	#ccc;

$breadcrumb-tic: $gray-med;

// Fonts
// -------------------------------------
$serif:         "yale", Georgia, "Times New Roman", serif;
$sans:          "Open Sans", Arial, Helvetica, sans-serif;


